<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>JSPProject</display-name>
		<servlet>
			<servlet-name>studentServlet</servlet-name>
			<servlet-class>co.edu.StudentServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>studentServlet</servlet-name>
			<url-pattern>/student.do</url-pattern>
			<!-- <url-pattern>*.do</url-pattern> 어떤주소가 오든지 상관없이(예를 들어 aaa.do bbb.do와 같은) 모든 .do파일을 studentServlet으로 열어준다 -->
		</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>